.main{
 
    background-color: #49a2b6;
    margin-left: -1rem;
    padding: 1rem 1rem 0.3rem 1rem;
    margin-top: -1rem;
    margin-right: -0.5rem;
    color: white;
}




















    

   
       

       
    